.form{
    height: 600px;
    background-image: url(../../img/background/form.png);
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 150px;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        img{
            width: 400px;
            @media screen and (max-width: 950px){
                display: none;
            }
        }
    }
    form{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
        h3{
            line-height: 70px;
        }
        input, textarea{
            border-radius: 10px;
            border: none;
            padding: 5px 10px;
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 15px;
            &:focus{
                outline: none;
                background-color: rgb(243, 243, 243);
            }
        }
        textarea{
            min-height: 250px;
            resize: vertical;
        }
        label{
            background-color: #fff;
            color: $purple;
            display: inline-block;
            padding: 1px 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-left: 20px;
            font-size: 12px;
        }
        button{
            padding: 7px 15px;
            border: none;
            background-color: #fff;
            border-radius: 10px;
            transition: 0.3s;
            margin: 0 0 0 auto;
            display: block;
            &:hover{
                color: $purple;
                letter-spacing: 1px;
            }
        }
    }
}